extends layout

block content
	.panel.left
		div.content#selection
			h1 Describe your mushroom!
			form#findmushroom
		div
			h1#info The descriptions match 8123 mushroom types of which 3915 are poisonous!
			canvas.chart#doughnut

	.panel.right
		div.content
			h1 Mushroom types fitting the given description
			canvas.chart#scatter
			//canvas.chart#dangerous
			div.content
				h1 The following aspects are 100% poisonous!
				div.card-columns#cards
	script(src="javascripts/main.js")
