body {
	margin: 0;
	width: 100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}


.panel {
	display: inline-block;
	width: 50%;
	position: fixed;
	height: 100%;
	/*padding: 10px;*/
}

.left {
	left: 0;
	border-right: grey solid 1px !important;
}

.right {
	right: 0;
}

.content {
	padding: 20px 20px 0 20px;
}

h1, small#info {
	width: 100% !important;
	display: inline-block;
	text-align: center;
}

.input-group-prepend, .input-group-text {
	width: 190px;
}

.card-columns {
	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

#doughnut {
	max-width: 800px;
	max-height: 360px;
	margin: 0 auto;
}

#scatter {
	max-height: 360px;
	margin: 0 auto;
}